.root {
    word-spacing: 1px;
    font-size: 1.25rem;
    padding: 0.55rem 1.35rem;
    outline: none;
    border: 0;
    border-radius: 6px;
    font-family: 'DM Sans', sans-serif;
    &:not(:disabled):hover {
        cursor: pointer;
        background-color: #50b17f;
    }
    a {
        text-decoration: none;
        color: black;
    }
}