.root {
  position: relative;
  padding: 0.55rem 1.35rem;
  border: 0;
  border-radius: 6px;
  word-spacing: 1px;
  font-size: var(--font-size-base);
  outline: none;
  font-family: 'DM Sans', sans-serif;
}

.root:not(:disabled):hover {
  cursor: pointer;
  background-color: #529c76;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.root:not(:disabled):hover::before {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1.2, 1.55);
          transform: scale(1.2, 1.55);
  opacity: 0;
}

.root:disabled {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.root::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #529c76;
  border-radius: 6px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.root a {
  text-decoration: none;
  color: black;
}
