.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1110px;
  gap: 1.35rem;
  font-size: var(--font-size-base);
  margin: 7rem 0 8.5rem 0;
}

.description h2 {
  font-size: var(--font-size-xxl);
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.description > p {
  text-align: center;
  font-size: var(--font-size-base);
}

.description > p span {
  background-image: linear-gradient(70deg, #d0ffe3, #27c500);
  white-space: pre-wrap;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description svg {
  height: 5.5rem;
}

.description > div {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5rem;
}

.description > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.description > div div p {
  font-weight: bold;
  text-align: center;
  font-size: var(--font-size-md);
}

.description > div div span {
  text-align: center;
  font-size: var(--font-size-sm);
}

.description :global .on-scroll {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
}

.description :global .on-scroll.active {
  text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
}
