.root {
  width: 100%;
  background-color: #ffffff;
  outline: none;
  border: 0;
  border-radius: 8px;
  padding: 0.4rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0.5rem;
  font-size: var(--font-size-base);
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  cursor: pointer;
}

.root img {
  margin-left: -8px;
}

.root:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
