.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
}

.root .hero {
  width: 100%;
  max-width: 1120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.root .hero .title {
  font-size: 5.5rem;
  letter-spacing: -2px;
}

.root .hero span {
  max-width: 768px;
  font-size: 1.25rem;
  margin: 2rem 0;
}

.root .hero > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.root .hero > div button {
  padding-left: 1.85rem;
  padding-right: 1.85rem;
}

.root .hero > div button:first-child {
  background-color: #6ece9d;
}

.root .bigImg {
  width: 100%;
  padding: 2rem;
  max-width: 1550px;
  margin: 5rem 0;
  border: 2px solid #474747;
  border-radius: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 3rem 1rem;
  background-color: #18181b;
}

.root .bigImg > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.root .bigImg > div > div {
  width: 100%;
  height: 180px;
  position: relative;
  background-size: 100% 100%;
}

.root .bigImg > div > div:hover:after {
  opacity: 1;
}

.root .bigImg > div > div::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.83);
}

.root .bigImg > div > div:hover > span {
  width: 100%;
  display: inline;
}

.root .bigImg > div > div > span {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
}

.root .bigImg > div > div > span > span.highlight {
  color: #6ece9d;
}

.root .bigImg > div > span {
  padding: 1rem;
  border-left: 2px solid #474747;
  border-bottom: 2px solid #474747;
  border-right: 2px solid #474747;
  text-align: center;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  font-size: 0.85rem;
  background-color: #0a0a0a;
}

.root .bigImg > span {
  grid-column: 1 / -1;
  -ms-grid-column-align: center;
      justify-self: center;
  padding-bottom: 0.35rem;
  border-bottom: 3px solid #6ece9d;
  font-size: 1.35rem;
}

.root .stepByStep {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.root .stepByStep h1 {
  font-size: 3.35rem;
  word-spacing: 0.55rem;
  letter-spacing: -2px;
  -webkit-transform: rotate(-1.85deg);
          transform: rotate(-1.85deg);
  margin: 7rem 0;
}

.root .stepByStep > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-items: stretch;
  margin: 1rem 0;
}

.root .stepByStep > div > div:not(.stepLine) {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 1.25fr 1fr;
      grid-template-columns: 1.25fr 1fr;
  gap: 0 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.root .stepByStep > div > div:not(.stepLine) img {
  height: 100%;
  width: 100%;
  max-height: 500px;
}

.root .stepByStep > div > div:not(.stepLine) > div {
  display: -ms-grid;
  display: grid;
}

.root .stepByStep > div > div:not(.stepLine) > div p {
  font-size: 3rem;
  word-spacing: -0.45px;
  letter-spacing: -2px;
  line-height: 3rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.root .stepByStep > div > div:not(.stepLine) > div span {
  font-size: 1.15rem;
  color: lightgray;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.root .stepByStep > div > div:not(.stepLine):nth-child(3) {
  -ms-grid-columns: 1fr 1.25fr;
      grid-template-columns: 1fr 1.25fr;
  margin: 1.5rem 0;
}

.root .stepByStep > div > div:not(.stepLine):last-child {
  margin-top: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.root .stepByStep > div > div:not(.stepLine):last-child p, .root .stepByStep > div > div:not(.stepLine):last-child span {
  grid-column: 1 / -1;
}

.root .stepByStep > div > div:not(.stepLine):last-child p {
  font-size: 3rem;
  display: inline-block;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.root .stepByStep > div .stepLine {
  max-width: 100%;
  display: inline-block;
  margin: 0 auto;
  padding: 0 30%;
  border: 0;
  vertical-align: middle;
}
