.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
  padding: 0 2rem;
}

@media (max-width: 992px) {
  .root .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .root .hero > div {
    width: 100%;
  }
  .root .hero > div > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .root .hero svg {
    width: 65%;
    position: absolute;
    bottom: 0;
    right: -30%;
    opacity: 0.15;
  }
}

@media (max-width: 520px) {
  .root .hero > div div {
    width: 100%;
  }
  .root .hero svg {
    display: none;
  }
}
