.root {
  max-width: 1420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10rem 0 5rem 0;
}

.root h2 {
  font-size: var(--font-size-xxl);
  font-weight: 400;
  margin: 5.5rem 0;
}

.root .cardGrid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[8];
      grid-template-columns: repeat(8, auto);
  gap: 2.2rem;
  color: white;
}

.root .cardGrid .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5rem;
  padding: 2.2rem 1.1rem;
  border-radius: 6px;
  background-color: #eaefeb;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-right: 3px solid black;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.root .cardGrid .card:nth-child(1) {
  background-color: #348969;
  -webkit-box-shadow: 4px 0 0 #348969;
          box-shadow: 4px 0 0 #348969;
}

.root .cardGrid .card:nth-child(3) {
  background-color: #76418f;
  -webkit-box-shadow: 4px 0 0 #76418f;
          box-shadow: 4px 0 0 #76418f;
}

.root .cardGrid .card:nth-child(5) {
  background-color: #a1334b;
  -webkit-box-shadow: 4px 0 0 #a1334b;
          box-shadow: 4px 0 0 #a1334b;
}

.root .cardGrid .card:last-child {
  background-color: #973732;
  -webkit-box-shadow: 4px 0 0 #973732;
          box-shadow: 4px 0 0 #973732;
}

.root .cardGrid .card p {
  font-size: calc(var(--font-size-md) * 0.8);
  font-weight: bold;
}

.root .cardGrid .card span {
  font-size: calc(var(--font-size-base) * 0.9);
}

.root .cardGrid > svg {
  -webkit-transform: scale(3.65);
          transform: scale(3.65);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 920px) {
  .root .cardGrid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .root .cardGrid > svg {
    display: none;
  }
}
