.root {
  width: 100%;
  min-height: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7rem 0;
}

.root > div {
  width: 100%;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.root .dashboard {
  max-width: 1220px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 4rem;
  border-radius: 6px;
}

.root .dashboard > div {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  padding: 1.5rem 2rem 0.5rem 2rem;
  border-radius: 12px;
  text-align: center;
  background-color: black;
}

.root .dashboard > div span {
  justify-self: flex-start;
}

.root .dashboard > div div.download {
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.root .dashboard > div div.download > span {
  font-size: 0.75rem;
  margin-right: 0.2rem;
}

.root .dashboard > div div.download i span {
  color: white;
}

.root .dashboard > div a.download {
  justify-self: flex-end;
  color: #6ece9d;
}

.root > i {
  margin-top: 15rem;
}

.root > i span {
  color: white;
  font-size: 80px;
}
