.root {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  padding: 1.15rem 2rem;
  font-size: var(--font-size-base);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9;
  background-color: #0a0a0a;
}

.root > div {
  width: 100%;
  max-width: 1550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.root > div > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}

.root > div nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.root > div nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.root > div nav div .register {
  padding: 0.3rem 1rem;
  background-color: #6ece9d;
  border-radius: 12px;
  color: black;
  text-decoration: none;
}

.root > div nav div .register:hover {
  background-color: #529c76;
}

.root > div a {
  color: white;
  text-decoration: none;
}

.root > div a svg {
  display: block;
  height: 2.5rem;
  margin-top: 0.5rem;
}

.root > div a:hover {
  text-decoration: underline;
}
