.root {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  padding: 1.15rem 2rem;
  font-size: var(--font-size-base);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9;
  background-color: #0a0a0a;
}

.root .header {
  width: 100%;
  max-width: 1550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.root .header > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}

.root .header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.root .header nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.root .header nav div .register {
  padding: 0.3rem 1rem;
  background-color: #6ece9d;
  border-radius: 12px;
  color: black;
  text-decoration: none;
}

.root .header nav div .register:hover {
  background-color: #529c76;
}

.root .header a {
  color: white;
}

.root .header a svg {
  display: block;
  height: 2.5rem;
  margin-top: 0.5rem;
}

.root .header a:hover {
  text-decoration: underline;
}

.root .mobileOpen {
  display: none;
}

.root .mobileHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background-color: #0a0a0a;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  overflow: hidden;
  height: 100vh;
  -webkit-box-shadow: 7px 0px 5px #2b2b2b;
          box-shadow: 7px 0px 5px #2b2b2b;
}

.root .mobileHeader.show {
  width: 70%;
}

.root .mobileHeader > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 1rem;
  gap: 1.35rem;
}

.root .mobileHeader > div a {
  color: white;
}

.root .mobileHeader > div a svg {
  display: block;
  height: 2.5rem;
  margin-top: 0.5rem;
}

.root .mobileHeader > div img {
  height: 2rem;
  margin-left: auto;
  cursor: pointer;
}

@media (max-width: 768px) {
  .root .header {
    display: none;
  }
  .root .mobileOpen {
    display: block;
    margin-right: auto;
    height: 2rem;
    cursor: pointer;
  }
}
