.root {
  display: -ms-grid;
  display: grid;
  padding: 2rem;
  background-color: #18181b;
  border-radius: 12px;
  gap: 1rem;
  max-width: 375px;
}

.root.subscription {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border: 3px solid #50b17f;
}

.root.payment {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.root .name {
  font-size: 1.65rem;
  justify-self: flex-start;
  font-weight: bold;
}

.root .description {
  margin-top: 2rem;
}

.root .price {
  font-size: 3.75rem;
  font-weight: bold;
}

.root .price .period {
  font-size: 1.1rem;
}

.root button {
  margin-top: 0.5rem;
}
