.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.root h2 {
  font-size: var(--font-size-xxl);
  font-weight: normal;
  margin-bottom: 1.5rem;
  margin: 8rem 0 5.5rem 0;
}

.root > p {
  font-size: var(--font-size-base);
  margin-bottom: 10.5rem;
  max-width: 650px;
  text-align: center;
}

.root > p span {
  background-image: linear-gradient(70deg, #d0ffe3, #bea200);
  white-space: pre-wrap;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.root .planLayout {
  width: 100%;
  max-width: 980px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3rem;
  margin-top: 1.5rem;
}

.root .info {
  max-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6rem;
  position: relative;
  font-size: var(--font-size-base);
}

.root .info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.root .info table {
  width: 100%;
  margin: 0.5rem auto;
  font-size: var(--font-size-base);
  border-spacing: 0;
}

.root .info table thead th {
  text-align: start;
  padding: 0.8rem 2rem;
  font-size: var(--font-size-md);
  border-bottom: 2px solid #6ece9d;
}

.root .info table tbody tr td {
  padding: 0.6em 2rem;
}

.root .info svg {
  height: 7.5rem;
  z-index: 1;
}

.root .info svg path {
  fill: #529c76;
}

@media (max-width: 768px) {
  .root > p {
    margin-bottom: 5rem;
  }
  .root .planLayout {
    max-width: unset;
    padding: 0 2rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
