.bigImg {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 5rem 0;
  max-width: 1550px;
  width: 100%;
}

.bigImg h2 {
  text-align: center;
  font-size: var(--font-size-xxl);
  font-weight: normal;
}

.bigImg > div {
  width: 100%;
  padding: 2rem;
  border: 2px solid #474747;
  border-radius: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(360px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 3rem 1rem;
  position: relative;
}

.bigImg > div > svg {
  position: absolute;
  top: -35px;
  left: -10px;
  height: 4rem;
  z-index: 1;
  border-radius: 100%;
  -webkit-transform: rotate(-7.5deg);
          transform: rotate(-7.5deg);
}

.bigImg > div > svg path {
  fill: #529c76;
}

.bigImg > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bigImg > div > div > div {
  width: 100%;
  height: 180px;
  position: relative;
  background-size: 100% 100%;
}

.bigImg > div > div > div:hover:after {
  opacity: 1;
}

.bigImg > div > div > div::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.83);
}

.bigImg > div > div > div:hover > span {
  width: 100%;
  display: inline;
}

.bigImg > div > div > div > span {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: var(--font-size-md);
  text-align: center;
}

.bigImg > div > div > div > span > span.highlight {
  color: #6ece9d;
}

.bigImg > div > div > span {
  padding: 1rem;
  border-left: 2px solid #474747;
  border-bottom: 2px solid #474747;
  border-right: 2px solid #474747;
  text-align: center;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  font-size: var(--font-size-sm);
  background-color: #0a0a0a;
}

.bigImg > div > span {
  grid-column: 1 / -1;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  padding-bottom: 0.35rem;
  font-size: var(--font-size-md);
}

/* .bigImg :global {
    .on-scroll {
        transition: 0.5s;
        animation-duration: 0.5s;
        animation-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000) ;
        animation-fill-mode: both;


        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
      transform-origin: 100% 50%;
      filter: blur(40px);
      opacity: 0;
    }
    .on-scroll.active {
        transform: translateX(0) scaleY(1) scaleX(1);
      transform-origin: 50% 50%;
      filter: blur(0);
      opacity: 1;
    }
} */
@media (max-width: 768px) {
  .bigImg h2 {
    margin-bottom: 5rem;
  }
  .bigImg > div {
    padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
