.root {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 720px;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 1rem 2rem;
    display: grid;
    border: 1px solid white;
    z-index: 1001;
    & > span {
        font-size: var(--font-size-md);
        justify-self: flex-end;
        margin-bottom: 1rem;
        cursor: pointer;
        padding: 0.5rem;
    }
    form {
        // BUSCAR YA LA FUCKING MANERA DE TENER MODALES CON ESTILOS PERSONALIZADOS EN CADA MODULO
        &:global 
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        gap: 3rem 1.5rem;
        & > div {
            display: grid;
            align-items: center;

            label {
                font-size: var(--font-size-sm);
                margin-bottom: 0.35rem;
            }

            input {
                width: 100%;
                margin-bottom: 0.35rem;
            }

            & > span {
                color: rgb(175, 175, 175);
                font-size: calc(var(--font-size-sm) / 1.1);
                justify-self: flex-end;
                margin-top: 0.2rem;
            }

            &:nth-child(3) {
                order: -1;
            }

            &:nth-child(2) {
                grid-column: 1 / -1;
            }

            &:nth-child(5) {
                order: 5;
                grid-column: 1 / -1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                textarea {
                    width: 87%;
                }
            }

            &:nth-child(6) {
                order: 4;
            }

        }
    }
    & > div {
        margin-top: 3rem;
        display: flex;
        margin-left: auto;
        gap: 1rem;
        button {
            font-size: var(--font-size-base);
        }
        button:last-child {
            background-color: #6ece9d;
            &:hover {
                background-color: #50b17f;
            }
        }
    }
    
}