.loader {
    display: block;
    position: relative;
    border: 2px solid #fff;
    border-radius: 20px;
    box-sizing: border-box;
    transform-origin: center center;
}

.loaderxl {
    height: 40px;
    width: 20%;
    margin: auto;
    animation: balancing 0.7s linear infinite alternate;
}

.loadersm {
    height: 20px;
    width: 55px;
    animation: balancing 1.3s linear infinite alternate;
}

.loader:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 20px;
    background: #6ece9d;
}

.loaderxl:before {
    width: 120px;
    height: 35px;
    animation: ballbns 0.7s linear infinite alternate;
}

.loadersm:before {
    width: 18px;
    height: 16px;
    animation: ballbns 1.3s linear infinite alternate;
}

@keyframes ballbns {
    0% {
        left: 0;
        transform: translateX(0%);
    }

    100% {
        left: 100%;
        transform: translateX(-100%);
    }
}

@keyframes balancing {
    0% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(10deg);
    }
}