.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    h2 {
        font-size: var(--font-size-xxl);
        font-weight: normal;
        margin-bottom: 1.5rem;
        margin: 8rem 0 5.5rem 0;
    }
    & > p {
        font-size: var(--font-size-base);
        margin-bottom: 10.5rem;
        max-width: 650px;
        text-align: center;
        span {
            background-image: linear-gradient(70deg, rgb(208, 255, 227), rgb(190, 162, 0));
            white-space: pre-wrap;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
    }
    .planLayout {
        width: 100%;
        max-width: 980px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        gap: 3rem;
        margin-top: 1.5rem;
    }
    .info {
        max-width: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 6rem;
        position: relative;
        font-size: var(--font-size-base);
        & > div {
            display: flex;
            gap: 1rem;
            align-items: center;
        }
        table {
            width: 100%;
            margin: 0.5rem auto;
            font-size: var(--font-size-base);
            border-spacing: 0;
            thead th {
                text-align: start;
                padding: 0.8rem 2rem;
                font-size: var(--font-size-md);
                border-bottom: 2px solid #6ece9d;
            }
            tbody tr td {
                padding: 0.6em 2rem;
            }
        }
        svg {
            height: 7.5rem;
            z-index: 1;
            path {
                fill: #529c76;
            }
        }
    }
}

@media (max-width: 768px) {
    .root {
        & > p {
            margin-bottom: 5rem;
        }
        .planLayout {
            max-width: unset;
            padding: 0 2rem;
            grid-template-columns: 1fr;
        }
    }
}