.root {
    padding: 0.5rem 0.75rem;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    font-size: 1rem;
    color: lightgray;
    font-family: 'DM Sans', sans-serif;
    &:focus {
        border: 1px solid #6ece9d;
    }
}