.root {
    padding: 0.3rem 0.5rem;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    font-size: var(--font-size-base);
    color: lightgray;
    font-family: 'DM Sans', sans-serif;
    &:focus {
        border: 1px solid #6ece9d;
    }
    &:disabled {
        background-color: #232327;
        color: gray;
    }
}