.root {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1.5rem 0;
    & > div {
        width: 100%;
        max-width: 1120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > div:first-child  {
            display: flex;
            align-items: center;
            gap: 2.5rem;
            nav {
                display: flex;
                gap: 1.5rem;
            }
        }
        a {
            color: white;
            text-decoration: none;
            svg {
                display: block;
            }
        }
    }
}