.root {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1.15rem 2rem;
    font-size: var(--font-size-base);
    position: sticky;
    top: 0px;
    z-index: 9;
    background-color: #0a0a0a;
    & > div {
        width: 100%;
        max-width: 1550px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > div:first-child  {
            display: flex;
            align-items: center;
            gap: 5rem;
        }
        nav {
            display: flex;
            gap: 1.5rem;
            align-items: center;
            div {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                .register {
                    padding: 0.3rem 1rem;
                    background-color:#6ece9d;
                    border-radius: 12px;
                    color: black;
                    text-decoration: none;
                    &:hover {
                        background-color: #529c76;;
                    }
                }
            }
        }
        a {
            color: white;
            text-decoration: none;
            svg {
                display: block;
                height: 2.5rem;
                margin-top: 0.5rem;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}