.root {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1.15rem 2rem;
    font-size: var(--font-size-base);
    position: sticky;
    top: 0px;
    z-index: 9;
    background-color: #0a0a0a;
    .header {
        width: 100%;
        max-width: 1550px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > div:first-child  {
            display: flex;
            align-items: center;
            gap: 5rem;
        }
        nav {
            display: flex;
            gap: 1.5rem;
            align-items: center;
            div {
                display: flex;
                align-items: center;
                gap: 1.5rem;
                .register {
                    padding: 0.3rem 1rem;
                    background-color:#6ece9d;
                    border-radius: 12px;
                    color: black;
                    text-decoration: none;
                    &:hover {
                        background-color: #529c76;;
                    }
                }
            }
        }
        a {
            color: white;
            svg {
                display: block;
                height: 2.5rem;
                margin-top: 0.5rem;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .mobileOpen {
        display: none;
    }
    .mobileHeader {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        background-color: #0a0a0a;
        transition: width 0.3s;
        overflow: hidden;
        height: 100vh;
        box-shadow: 7px 0px 5px #2b2b2b;
        &.show {
            width: 70%;
        }
        & > div {
            display: flex;
            flex-direction: column;
            padding: 2rem 1rem;
            gap: 1.35rem;
            a {
                color: white;
                svg {
                    display: block;
                    height: 2.5rem;
                    margin-top: 0.5rem;
                }
            }
            img {
                height: 2rem;
                margin-left: auto;
                cursor: pointer;
            }
        }
    
    }
}

@media (max-width: 768px) {
    .root {
        .header {
            display: none;
        }
        .mobileOpen {
            display: block;
            margin-right: auto;
            height: 2rem;
            cursor: pointer;
        }
    } 
}