.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1110px;
    gap: 1.35rem;
    font-size: var(--font-size-base);
    margin: 7rem 0 8.5rem 0;
    h2 {
        font-size: var(--font-size-xxl);
        font-weight: normal;
        margin: 0;
        text-align: center;
    }
    & > p {
        text-align: center;
        font-size: var(--font-size-base);
        span {
            background-image: linear-gradient(70deg, rgb(208, 255, 227), rgb(39, 197, 0));
            white-space: pre-wrap;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
    }
    svg {
        height: 5.5rem;
    }
    & > div {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 5rem;
        justify-content: space-around;
        margin-top: 5rem;
        div {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            p {
                font-weight: bold;
                text-align: center;
                font-size: var(--font-size-md);
            }
            span {
                text-align: center;
                font-size: var(--font-size-sm);
            }
        }
    }
}

.description :global {
    .on-scroll {
        transition: 0.7s;
        transition-delay: 1.2s;
        animation-duration: 0.7s;
        animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
        animation-fill-mode: both;
        text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
        
    }
    .on-scroll.active {
        text-shadow: 0 -1px #555555, 0 -1px #555555, 0 -1px #555555, 0 -1.5px #555555, 0 -3px #555555, 0 -3px #555555, 0 -3.5px #555555, 0 -4.3px #555555;
    }
}

