.root {
    max-width: 1420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 0 5rem 0;
    h2 {
        font-size: var(--font-size-xxl);
        font-weight: 400;
        margin: 5.5rem 0;
    }

    .cardGrid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(8, auto);
        gap: 2.2rem;
        color: white;
        .card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.5rem;
            padding: 2.2rem 1.1rem;
            border-radius: 6px;
            background-color: #eaefeb;
            position: relative;
            transition: all 0.3s;
            border-right: 3px solid black;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            &:nth-child(1) {
                background-color: #348969;
                box-shadow: 4px 0 0 #348969;
            }
            &:nth-child(3) {
                background-color: #76418f;
                box-shadow: 4px 0 0 #76418f;

            }
            &:nth-child(5) {
                background-color: #a1334b;
                box-shadow: 4px 0 0 #a1334b;

            }
            &:last-child {
                background-color: #973732;
                box-shadow: 4px 0 0 #973732;

            }
            p {
                font-size: calc(var(--font-size-md) * 0.8);
                font-weight: bold;
            }
            span {
                font-size: calc(var(--font-size-base) * 0.9);
            }
        }
        & > svg {
            transform: scale(3.65);
            align-self: center;
        }
    }
}

@media (max-width: 920px) {
    .root .cardGrid {
        grid-template-columns: 1fr;
        & > svg {
            display: none;
        }
    }
}