@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

html,
body {
    font-family: 'DM Sans', sans-serif;
    background-color: #0a0a0a;
    color: white;
    scroll-behaviour: smooth;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
}

p {
    margin: 0;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.ReactModal__Overlay {
    background-color: rgb(0, 0, 0, 0.6) !important;
}

textarea {
    background-color: #0a0a0a;
    ;
    font-family: 'DM Sans', sans-serif;
    border: 2px solid white;
    resize: none;
    height: 13rem;
    color: white;
    padding: 0.5rem 1rem;
    text-align: justify;
    outline: none;
}

textarea:focus {
    border: 3px solid #6ece9d;
}

.error {
    color: red !important;
    font-size: 0.75rem !important;
}

.show {
    display: inline;
}

.hide {
    display: none;
}

.highlight-short,
.highlight-medium,
.highlight-long {
    position: relative;
    z-index: 0;
}

.highlight-short::after {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 224px;
    height: 100%;
    background-image: url('/highlight-1.svg');
    background-repeat: no-repeat;
    z-index: -1;
}

.highlight-medium::after {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 274px;
    height: 100%;
    background-image: url('/highlight-3.svg');
    background-repeat: no-repeat;
    z-index: -1;
}

.highlight-long::after {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 388px;
    height: 100%;
    background-image: url('/highlight-2.svg');
    background-repeat: no-repeat;
    z-index: -1;
}



.loader {
    display: block;
    position: relative;
    border: 2px solid #fff;
    border-radius: 20px;
    box-sizing: border-box;
    transform-origin: center center;
}

.loader-xl {
    height: 40px;
    width: 20%;
    margin: auto;
    animation: balancing 0.7s linear infinite alternate;
}

.loader-sm {
    height: 20px;
    width: 55px;
    animation: balancing 1.3s linear infinite alternate;
}

.loader:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 20px;
    background: #6ece9d;
}

.loader-xl:before {
    width: 120px;
    height: 35px;
    animation: ballbns 0.7s linear infinite alternate;
}

.loader-sm:before {
    width: 18px;
    height: 16px;
    animation: ballbns 1.3s linear infinite alternate;
}

@keyframes ballbns {
    0% {
        left: 0;
        transform: translateX(0%);
    }

    100% {
        left: 100%;
        transform: translateX(-100%);
    }
}

@keyframes balancing {
    0% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(10deg);
    }
}