.root {
    width: 100%;
    min-height: 1120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 2rem;
    & > div {
        display: flex;
        flex-direction: column;
        max-width: 1120px;
        height: 100%;
        & > p {
            margin: 0;
            span {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
        & > button {
            margin-top: 1rem;
            align-self: flex-start;
        }
        .dashboard {
            max-width: 1120px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
            gap: 2rem;
            margin-top: 4rem;
            border-radius: 6px;
            /* & > div {
                display: grid;
                // gap: 1rem;
                padding: 1.5rem 2rem 0.5rem 2rem;
                border-radius: 12px;
                text-align: center;
                background-color: #5fb7b2;
                .title {
                    justify-self: center;
                    font-size: 1.3rem;
                }
                .words {
                    justify-self: flex-end;
                    font-size: .85rem;
                    margin: 0.25rem 0 1.2rem 0;
                }
                .topic {
                    font-size: 1.1rem;
                    justify-self: flex-start;
                    display: -webkit-box;
                    max-width: 100%;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    margin-bottom: 1.2rem;
                }
                .description {
                    justify-self: flex-start;
                    text-align: start;
                    font-size: 0.8rem;
                    display: -webkit-box;
                    max-width: 100%;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    margin-bottom: 1.2rem;
                }
                div.download {
                    justify-self: flex-end;
                    display: flex;
                    align-items: center;
                    & > span {
                        font-size: 0.75rem;
                        margin-right: 0.2rem;
                    }
                    i span {
                        color: #6ece9d;
                    }
                }
                a.download {
                    justify-self: flex-end;
                    color: #6ece9d;
                }
            } */
        }
        & > i {
            margin-top: 15rem;
            span {
                color: white;
                font-size: 80px;
            }
        }
    }
}