.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.3rem 0;
    width: 100%;
    .planLayout {
        display: flex;
        gap: 3rem;
        margin-top: 5rem;
    }
}