.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 5.5rem;
    h2 {
        font-size: 3.35rem;
        margin: 1rem 0;
    }
    .planLayout {
        width: 100%;
        max-width: 920px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 3rem;
        margin-top: 1.5rem;
        background-image: url("/shapes-pattern.svg");
        background-size: cover;
    }
    .info {
        max-width: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 6rem;
        position: relative;
        & > div {
            display: flex;
            gap: 1rem;
            align-items: center;
        }
        table {
            width: 100%;
            margin: 0.5rem auto;
            font-size: 1.1rem;
            border-spacing: 0;
            thead th {
                text-align: start;
                padding: 0.8rem 2rem;
                font-size: 1.4rem;
                border-bottom: 2px solid #6ece9d;
            }
            tbody tr td {
                padding: 0.6em 2rem;
            }
        }
        svg {
            // position: absolute;
            // top: 0;
            // left: 0;
            height: 7.5rem;
            z-index: 1;
            path {
                fill: #529c76;
            }
        }
    }
}