.bigImg {
    display: grid;
    place-items: center;
    margin: 5rem 0;
    max-width: 1550px;
    width: 100%;
    h2 {
        text-align: center;
        font-size: var(--font-size-xxl);
        font-weight: normal;
    }
    & > div {
        width: 100%;
        padding: 2rem;
        border: 2px solid rgb(71, 71, 71);
        border-radius: 16px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        gap: 3rem 1rem;
        position: relative;
        & > svg {
            position: absolute;
            top: -35px;
            left: -10px;
            height: 4rem;
            z-index: 1;
            border-radius: 100%;
            transform: rotate(-7.5deg);
            path {
                fill: #529c76;
            }
        }
        & > div {
            display: flex;
            flex-direction: column;
            & > div {
                width: 100%;
                height: 180px;
                position: relative;
                background-size: 100% 100%;
                &:hover:after {
                    opacity: 1;
                }
                &::after {
                    content: "";
                    display: block;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    background: rgba(0,0,0,.83);
                }
                &:hover {
                    & > span {
                        width: 100%;
                        display: inline;
                    }
                }
                & > span {
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                    font-weight: bold;
                    font-size: var(--font-size-md);
                    text-align: center;
                    & > span.highlight {
                        color: #6ece9d;
                    }
                }
            }
            & > span {
                padding: 1rem;
                border-left: 2px solid rgb(71, 71, 71);
                border-bottom: 2px solid rgb(71, 71, 71);
                border-right: 2px solid rgb(71, 71, 71);
                text-align: center;
                border-bottom-left-radius: 16px;
                border-bottom-right-radius: 16px;
                font-size: var(--font-size-sm);
                background-color: #0a0a0a;
            }
        }
        & > span {
            grid-column: 1 / -1;
            justify-self: center;
            text-align: center;
            padding-bottom: 0.35rem;
            font-size: var(--font-size-md);;
        }
    }
}